<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://nlog.dev/schema/nlog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<targets>
		<!-- Write logs to a file -->
		<target name="file" xsi:type="File" fileName="logs/logfile.txt" layout="${longdate} ${level} ${message} ${exception}" />

		<!-- Write logs to the console -->
		<target name="console" xsi:type="Console" layout="${longdate} ${level} ${message} ${exception}" />
	</targets>

	<rules>
		<!-- Log all messages with level Info and above to the file and console -->
		<logger name="*" minlevel="Info" writeTo="file,console" />
	</rules>
</nlog>